<section class="height-100 cover cover-2">
    <div class="col-md-6 col-sm-5">
        <div class="background-image-holder">
            <img alt="image" src="img/inge-in-iceland.jpg" />
        </div>
    </div>
    <div class="col-md-6 col-sm-7 bg--white text-center">
        <div class="pos-vertical-center">
        	<h2>Hi there,<br/> my name is <br/>
            	<span class="color--primary">Inge van Balgooi</span>.</h2>
            <p class="lead">
                I'm a <span class="type--bold">Freelance Front-end developer</span> from<br/>
                The Netherlands, Amsterdam Region
            </p>
        </div>
        <div class="col-sm-12 text-center pos-absolute pos-bottom">
            <ul class="social-list">
                <li>
                    <a href="https://www.linkedin.com/in/ingevanbalgooi/" target="_blank">
                        <i class="socicon-linkedin"></i>
                    </a> 
                </li>             
                <li>
                    <a href="https://www.twitter.com/ing_e" target="_blank">
                        <i class="socicon-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/inginging_" target="_blank">
                        <i class="socicon-instagram"></i>
                    </a> 
                </li> 
            </ul>
        </div>
    </div>
</section>