            <footer class="bg--dark footer-6">
                <div class="container">
                    <div class="row">
                    	<div class="col-md-9">
                    		<h2>Contact me:</h2>
                    	</div>
                        <div class="col-md-3">
                            <em>Code Oranje Development</em>
                            <ul class="footer__navigation">
                                <li>
                            		<span>+31 (0)6 489 33 450</span>
                                </li>
                                <li>
                                    <span>inge@code-oranje.com</span>
                                </li>
                                <li>
                                	<span><a href="https://www.linkedin.com/in/ingevanbalgooi/" target="_blank">Connect with me on LinkedIn</a></span>
                                </li>
                            </ul>
                        </div>
                    <!--end of row-->  
                </div>
            </footer>
