        <a id="top"></a>
        <div class="loader"></div>
        <nav class="transition--fade">
            <div class="nav-bar nav--absolute">
                <div class="nav-module logo-module left">
                    <a href="index.html">
                        <img alt="logo" src="img/logo-code-oranje.png" />
                    </a>
                </div>
               
<!--                     <ul class="menu">
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Pages
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Work
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Shop
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Elements
                            </a>
                        </li>
                    </ul> -->
                <!--end nav module-->
            </div>
            <!--end nav bar-->
<!--             <div class="nav-mobile-toggle visible-sm visible-xs">
                <i class="icon-Align-Right icon icon--sm"></i>
            </div> -->
        </nav>