<section class="imagebg cover cover-14 parallax" data-overlay="5">
    <div class="background-image-holder background--bottom" style="height:110vh;">
        <img alt="image" src="img/amsterdam2.jpg" />
    </div>
    <div class="container">
        <div class="row">
	        <div class="col-sm-8 col-sm-offset-2 text-center">
	            <h3 class="u-margin-bottom-huge">My Recent Projects</h3>
	        </div>
	        <div class="col-sm-12">
	            <div class="slider slider--controlsoutside" data-arrows="false" data-paging="true" data-items="3">
	                <ul class="slides">
	                    <li>
	                        <a href="http://www.kvk.nl/krachtmeting" target="_blank">
			                    <div class="card card-3">
			                        <div class="card__image">
			                            <img alt="Pic" src="img/portfolio-kvk.jpg" />
			                        </div>
			                        <div class="card__body boxed bg--white js-match-height">
			                            <div class="card__title">
			                                <h5>Kamer van Koophandel</h5>
			                            </div>
			                            <span>
			                            	<p>
			                                	<em >KvK krachtmeting, an online quiz to test the skills of a starting entrepeneur</em>
			                                </p>
			                                <strong>React, Sass, Tridion, Tripolis, <br/> E-mail</strong>
			                            </span>
			                        </div>
			                    </div>
	                        </a>
	                    </li>
	                    <li>
			                <a href="http://www.vangansewinkel.nl" target="_blank">
			                    <div class="card card-3">
			                        <div class="card__image">
			                            <img alt="Pic" src="img/portfolio-vgw.jpg" />
			                        </div>
			                        <div class="card__body boxed bg--white js-match-height">
			                            <div class="card__title">
			                                <h5>Van Gansewinkel</h5>
			                            </div>
			                            <span>
			                            	<p>
			                                	<em>Corporate website and webshop.<br/> On Behalf of Redhotminute.</em>
			                                </p>
			                                <strong>HTML5, CSS3, Sass, javaScript, Angular, jQuery, Sitecore</strong>
			                            </span> 
			                        </div>
			                    </div>
			                </a>
	                    </li>
	                    <li>
			                <a href="http://www.vvv.nl">
			                    <div class="card card-3">
			                        <div class="card__image">
			                            <img alt="Pic" src="img/portfolio-vvv.jpg" />
			                        </div>
			                        <div class="card__body boxed bg--white js-match-height">
			                            <div class="card__title">
			                                <h5>VVV</h5>
			                            </div>
			                            <span> 
			                            	<p>
			                                	<em>Corporate website. <br/> On Behalf of Redhotminute.</em>
			                                </p>
			                                <strong>HTML5, CSS3, Sass, javaScript, jQuery, Sitecore</strong>
			                            </span> 
			                        </div>
			                    </div>
			                </a>
	                    </li>
	                    <li>
			                <a href="http://www.nutreco.com">
			                    <div class="card card-3">
			                        <div class="card__image">
			                            <img alt="Pic" src="img/portfolio-nut.jpg" />
			                        </div>
			                        <div class="card__body boxed bg--white js-match-height">
			                            <div class="card__title">
			                                <h5>Nutreco</h5>
			                            </div>
			                            <span> 
			                            	<p>
			                                	<em>Corporate website. <br/> On Behalf of Valtech</em>
			                                </p>
			                                <strong>HTML5, CSS3, Sass, javaScript, jQuery</strong>
			                            </span> 
			                        </div>
			                    </div>
			                </a>
	                    </li>
	                    <li>
			                <a href="https://tapandgo.heineken.ie/">
			                    <div class="card card-3">
			                        <div class="card__image">
			                            <img alt="Pic" src="img/portfolio-heineken.jpg" />
			                        </div>
			                        <div class="card__body boxed bg--white js-match-height">
			                            <div class="card__title"> 
			                                <h5>Heineken Tap&Go</h5> 
			                            </div>
			                            <span>
			                            	<p>
			                                	<em>B2B order application<br/> On Behalf of Valtech.</em>
			                                </p>
			                                <strong>HTML5, CSS3, Sass, javaScript, jQuery, Sitecore</strong>
			                            </span> 
			                        </div>
			                    </div>
			                </a>
	                    </li>
	                </ul>
	            </div>
	        </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>