<section class="section--even bg--secondary space--sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1>Skills</h1>
                <p>I'm a very design/UI/UX focused front-end developer. I love to set up new sustainable projects, to try out new cool stuff, use animations, and to create awesome experiences for the customer. However I'm good with JavaScript and I can work with several frameworks, if you are looking for a die-hard JavaScript developer who is mainly focused on JavaScript, I'm not the right person. Do you need an allround front-end developer? PICK ME!!</p>
                <p class="lead">
                    <strong>HTML 5</strong>, <em>CSS3</em>, JavaScript, <strong>React</strong>, REDUX, <strong>jQuery</strong>, SASS, <strong>Webpack</strong>, <em>Gulp</em>, GIT, All kinds of SASS/CSS Frameworks, but I'm in love with Inuit.css, and a <em>Big fan of OOCSS!!</em>...
                </h3>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
