.nav-bar {
	height: 150px;
	max-height: 150px;

	.nav-open & {
		overflow: visible;
	}

	.nav-module {
		height: 100%;
	}

	.logo-module img {
		max-height: 150px;
		padding-top: 20px;
		padding-bottom: 20px;
	}	

	.menu {
		position: absolute;
		bottom: 0;
		right: 15px;

		@media all and (min-width: 1281px) { 
			padding-right: 52px;
		}	

		@media all and (max-width: 990px) {
			position: relative;
			bottom: auto;
			right: auto;
		}				
	}	
}